<div class="flex h-screen">
  <div class="m-auto w-1/2">
    <lib-ngx-topbar
      [brand]="'Announcements'"
      (selection)="onSelection($event)"
    ></lib-ngx-topbar>
    <lib-ngx-button
      [label]="'Submit'"
      [notAllowed]="true"
      (clicked)="onClicked()"
    ></lib-ngx-button>
    <div class="w-3/4">
      <lib-ngx-left-menu></lib-ngx-left-menu>
    </div>
    <!-- <div class="flex flex-col">
      <div class="flex flex-row items-center">
        <div class="p-2 text-center text-white font-bold bg-indigo-500">
          This is the <span class="text-red-300">{{ title }}</span> application
        </div>
        <div class="p-2 text-center text-white font-bold bg-slate-500">
          We just installed
          <a href="https://tailwindcss.com/">tailwindcss</a>
        </div>
      </div>
      <div class="p-2 text-center bg-green-300">
        These DIVs are centered horizontally and vertically without the use of a
        stylesheet!
      </div>
      
    </div>
   -->
  </div>
</div>
