<p>User Registration Form</p>

<form [formGroup]="form">
  <p>
    <label>First Name: </label>
    <input formControlName="firstName" />
  </p>
  <p>
    <label>Last Name: </label>
    <input formControlName="lastName" />
  </p>
  <p>
    <label>Email: </label>
    <input formControlName="email" />
  </p>
  <p>
    <label>Password: </label>
    <input formControlName="password" />
  </p>
  <p>
    <label>Repeat Password: </label>
    <input formControlName="repeatPassword" />
  </p>
</form>

<p>
  <button (click)="onSubmit()">Submit Form</button>
</p>

<p>Form Valid: {{ form.valid }}</p>
<p>
  First Name: {{ this.form.controls.firstName.value }} <br />
  First Name Errors: {{ controlError("firstName") | json }}
</p>
<p>
  Last Name: {{ this.form.controls.lastName.value }} <br />
  Last Name Errors: {{ controlError("lastName") | json }}
</p>
<p>
  Email: {{ this.form.controls.email.value }} <br />
  Email Errors: {{ controlError("email") | json }}
</p>
<p>
  Password: {{ this.form.controls.password.value }} <br />
  Password Errors: {{ controlError("password") | json }}
</p>
<p>
  Repeat Password: {{ this.form.controls.repeatPassword.value }} <br />
  Repeat Password Errors: {{ controlError("repeatPassword") | json }}
</p>
