<lib-ngx-heading
  [text]="'Διαχείριση Συστήματος Ανακοινώσεων'"
></lib-ngx-heading>

<ul role="list" class="divide-y divide-gray-200">
  <li class="flex py-4">
    <p class="w-1/4 text-sm font-medium text-gray-900">Χρήστες</p>

    <div class="ml-3">
      <p class="text-sm text-gray-600">Αναζήτηση</p>
      <p class="text-sm font-medium text-gray-900">
        Διαχείριση Κατηγοριών Χρηστών
      </p>
      <div class="ml-3">
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="category/create"
        >
          Δημιουργία
        </p>
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="category/update"
        >
          Επεξεργασία
        </p>
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="category/delete"
        >
          Διαγραφή
        </p>
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="category/list"
        >
          Λίστα
        </p>
      </div>
    </div>
  </li>

  <li class="flex py-4">
    <p class="w-1/4 text-sm font-medium text-gray-900">Διευθύνσεις</p>

    <div class="ml-3">
      <p class="text-sm text-gray-600">Αναζήτηση</p>
      <p class="text-sm font-medium text-gray-900">Διαχείριση Διευθύνσεων</p>
      <div class="ml-3">
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="department/create"
        >
          Δημιουργία
        </p>
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="department/update"
        >
          Επεξεργασία
        </p>
        <p class="text-sm text-gray-600">Διαγραφή</p>
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="department/list"
        >
          Λίστα
        </p>
      </div>
    </div>
  </li>

  <li class="flex py-4">
    <p class="w-1/4 text-sm font-medium text-gray-900">Εξουσιοδοτήσεις</p>

    <div class="ml-3">
      <p class="text-sm text-gray-600">Αναζήτηση</p>
      <p class="text-sm font-medium text-gray-900">
        Διαχείριση Εξουσιοδοτήσεων
      </p>
      <div class="ml-3">
        <p class="text-sm text-gray-600">Δημιουργία</p>
        <p class="text-sm text-gray-600">Επεξεργασία</p>
        <p class="text-sm text-gray-600">Διαγραφή</p>
        <p class="text-sm text-gray-600">Λίστα</p>
      </div>
    </div>
  </li>
</ul>
