<lib-ngx-heading
  [text]="'??a?e???s? S?st?µat?? ??a?????se??'"
></lib-ngx-heading>

<ul role="list" class="divide-y divide-gray-200">
  <li class="flex py-4">
    <p class="w-1/4 text-sm font-medium text-gray-900">???ste?</p>

    <div class="ml-3">
      <p class="text-sm text-gray-600">??a??t?s?</p>
      <p class="text-sm font-medium text-gray-900">
        ??a?e???s? ?at??????? ???st??
      </p>
      <div class="ml-3">
        <p
          class="text-sm cursor-pointer text-indigo-500"
          routerLink="category/create"
        >
          ??µ??????a
        </p>
        <p class="text-sm text-gray-600">?pe?e??as?a</p>
        <p class="text-sm text-gray-600">??a??af?</p>
        <p class="text-sm text-gray-600">??sta</p>
      </div>
    </div>
  </li>

  <li class="flex py-4">
    <p class="w-1/4 text-sm font-medium text-gray-900">??e????se??</p>

    <div class="ml-3">
      <p class="text-sm text-gray-600">??a??t?s?</p>
      <p class="text-sm font-medium text-gray-900">??a?e???s? ??e????se??</p>
      <div class="ml-3">
        <p class="text-sm text-gray-600">??µ??????a</p>
        <p class="text-sm text-gray-600">?pe?e??as?a</p>
        <p class="text-sm text-gray-600">??a??af?</p>
        <p class="text-sm text-gray-600">??sta</p>
      </div>
    </div>
  </li>

  <li class="flex py-4">
    <p class="w-1/4 text-sm font-medium text-gray-900">????s??d?t?se??</p>

    <div class="ml-3">
      <p class="text-sm text-gray-600">??a??t?s?</p>
      <p class="text-sm font-medium text-gray-900">
        ??a?e???s? ????s??d?t?se??
      </p>
      <div class="ml-3">
        <p class="text-sm text-gray-600">??µ??????a</p>
        <p class="text-sm text-gray-600">?pe?e??as?a</p>
        <p class="text-sm text-gray-600">??a??af?</p>
        <p class="text-sm text-gray-600">??sta</p>
      </div>
    </div>
  </li>
</ul>
